/*
MAIN * MAIN * MAIN
*/
main.site-main {
	padding-top: var(--padding25);
	flex: 1 1 auto;
}

/* entry main, article */
main.entry-main {
	flex: 1 1 auto;
	background-color: var(--color_white);
}

article.page,
article.post {
	padding: var(--padding25) 0 var(--padding25) var(--padding25);
}
