/* 
____________________________________________________

-----> > > Scrollbar < < <-----
____________________________________________________

*/

::-webkit-scrollbar {
	position: absolute;
	z-index: 48;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
	background-color: var(--color_white);
}

::-webkit-scrollbar-thumb {
	position: absolute;
	z-index: 49;
	top: 0;
	left: 0;
	width: 100%;
	cursor: pointer;
	background-color: var(--color_gray);
	border-radius: 5px;
}

/* 
____________________________________________________

-----> > > General theme style < < <-----
____________________________________________________

*/

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.container {
	max-width: var(--total_container_width);
	margin: auto;
}

html {
	background-color: var(--color_gray0);
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* 
____________________________________________________

-----> > > Header < < <-----
____________________________________________________

*/

.site-header {
	width: 100%;
}

.site-header.sticky {
	position: fixed;
}

.site-header>.site-header__line {
	padding: 0 var(--padding25);
	gap: var(--padding25);
	align-items: center;
}

.site-header>.site-header__line.reserve {
	display: none;
}

.site-header>.site-header__line:nth-of-type(1) {
	background-color: var(--color_white);
	box-shadow: var(--shadow_block);
	height: 75px;
	z-index: 2;
}

.site-header>.site-header__line:nth-of-type(2) {
	align-items: start;
	background-color: var(--color_black);
	border-radius: 0 0 10px 10px;
	box-shadow: var(--shadow_block);
	border-top: var(--border);
	margin: 0 var(--padding25);
	padding: 0;
	gap: 0;
}
.site-header__line>.header-search {
	flex: 1 1 auto;
}

.site-header .menu-site-header-container {
	height: auto;
}
.site-header ul.menu {
	display: flex;
}
.site-header ul.menu > li > a{
	display: block;
	padding: var(--padding25);
	color: var(--color_white);
}
/* 
____________________________________________________

-----> > > Toggle menu < < <-----
____________________________________________________

*/
.menu-button {
	z-index: 3;
	margin: 5px;
	padding: 10px;
	transition: background-color .2s 0s ease-out, box-shadow .4s 0s ease-out;
	border-radius: 5px;
	background-color: var(--color_gray);
}

.menu-button:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	background-color: var(--color_white);
	text-decoration: none;
	color: var(--color_white);
}

.menu-button.cross {
	background-color: var(--color_white);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.menu-button.cross:hover {
	box-shadow: var(--shadow_block);
}

.menu-button.cross .bar {
	background-color: var(--color_dynamic);
}

.menu-button .bar:nth-of-type(1) {
	margin-top: 0;
}

.menu-button .bar:nth-of-type(3) {
	margin-bottom: 0;
}

.bar {
	position: relative;
	display: block;
	width: 30px;
	height: 3px;
	margin: 10px auto;
	transition: transform .4s, background-color .2s 0s ease-out;;
	background-color: var(--color_white);
}

.menu-button:hover .bar{
	background-color: var(--color_dynamic);
}

.menu-button:hover .bar:nth-of-type(1) {
	transform: translatey(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
	opacity: 0.9;
}

.menu-button:hover .bar:nth-of-type(3) {
	transform: translatey(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
	transform: translatey(11px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
	opacity: 0;
}

.cross .bar:nth-of-type(3) {
	transform: translatey(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
	transform: translatey(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
	opacity: 0;
}

.cross:hover .bar:nth-of-type(3) {
	transform: translatey(-13.5px) rotate(40.5deg);
}
/* 
____________________________________________________

-----> > > Main < < <-----
____________________________________________________

*/
main.site-main {
	padding-top: var(--padding25);
	flex: 1 1 auto;
}

/* entry main, article */
main.entry-main {
	flex: 1 1 auto;
	background-color: var(--color_white);
}
.wrapper {
	height: 100%;
}
article.page,
article.post,
.wrapper-grid {
	display: flex;
	flex-direction: column;
	padding: var(--padding25);
	gap: var(--padding25);
}

aside.sidebar{
	border-right: var(--border);
	padding: var(--padding25);
	gap: var(--padding25);
	flex: 0 0 15%;
}
/* 
____________________________________________________

-----> > > Footer < < <-----
____________________________________________________

*/
.site-footer {
	background-color: var(--color_dynamic);
	color: var(--color_dynamic_alt);
}

#footer-horizontal,
#footer-horizontal>ul {
	display: flex;
	gap: var(--padding25);
	justify-content: center;
}

.site-footer__line {
	padding: var(--padding25);
	gap: var(--padding25);
}

.site-footer__line:nth-of-type(2) {
	justify-content: space-between;
	align-items: flex-end;
}