section.post-preview {
	flex: 0 1 48%;
}
.site-footer__line:nth-of-type(2) {
	flex-wrap: wrap;
}
@media only screen and (max-width: 970px) {
	aside.sidebar {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	footer.site-footer {
		display: none;
	}
}
